body {
    background: url("../images/bookBg5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: darken;
    display: block;
}